<!--Top bar-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
        <h1>Guitar Community</h1>
        <span class="menu-spacer"></span>
        <div class="button">
            <a mat-button mat-raised-button color="primary"> Logout </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<!--Sidenav-->
<mat-sidenav-container class="sidenav">
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item (click)="sidenav.toggle()" routerLink="new-user" routerLinkActive="active"><span style="color: blue;"> New User </span> </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLink="users-list" routerLinkActive="active"> <span style="color: blue;"> Users List </span> </a>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <!--<a mat-button (click)="sidenav.toggle()"> <span style="color: blue;">Close Sidenav</span> </a>-->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 90vh;">

            <router-outlet></router-outlet>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>