.table {
    width: 95%;
    margin-left: 15px;
    text-align: center;
    table-layout: fixed;
}


/*.table,
.th,
.td {
    border: 1px solid black;
    border-collapse: collapse;
}

.th,
.td {
    padding: 5px;
    width: 1px;
    text-align: center;
}

.th {
    text-align: center;
}

.table {
    margin-left: 5px;
    table-layout: fixed;
}*/